@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");

* {
  margin: 0;
  padding: 0;
}
.app {
  max-height: auto;
}
.heading {
  text-align: center;
  font-family: "Alice", serif;
  font-size: 2rem;
  font-weight: bold;
  color: black;
  padding-top: 2rem;
}
#file[type="file"] {
  display: none;
}
.label-holder {
  width: 100%;
  height: 50px;
  margin-top: 3em;
  display: grid;
  place-items: center;
}
.label {
  height: 50px;
  width: 200px;
  background-color: #2a3eb1;
  color: white;
  display: grid;
  place-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}

.result {
  min-height: 100%;
  max-height: auto;
  width: 100%;
  background-color: #272c34;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

img {
  width: 320px;
  height: 180px;
  object-fit: cover;
  padding: 0.75rem;
}
.delete-btn {
  position: absolute;
  margin-left: -25px;
  color: gray;
  background-color: white;
  border-radius: 30px;
}
.form-group-preview {
  display: flex;
}
.message-btn {
  width: 200px;
  height: 50px;
  margin-top: 20px;
  background: #191970;
  box-shadow: "0px 3px 5px rgba(0, 0, 0, 0.1)";
  color: white;
  font-style: "normal";
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  border-radius: 20px;
  cursor: pointer;
}
.message-btn:hover {
  background-color: RoyalBlue;
}
